.DS_Store
.groma/swift-syntax-build/
.idea/
node_modules/
/dist/
/npm-release/
/plugins/scanners/typescript/dist/
/test/fixtures/csharp-operations/**/obj/
/plugins/scanners/scala/worker/**/target/
/plugins/scanners/scala/worker/project/project/
